.vscode/
# --- 가상환경  ---
.venv/
venv/

# --- 파이썬 실행 캐시 ---
**/__pycache__/
*.py[cod]

# --- 로컬 데이터베이스 ---
db/
*.sqlite3

# --- 데이터 및 로그 ---
data/

# --- 환경 변수 및 보안 ---
.env

# --- 에디터 및 OS 설정 ---
.vscode/
.idea/
.DS_Store

# --- 배포용 키 파일 ---
*.pem
*.ppk